@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #d5bdaf; /* Header and dropdown menus */
  --color-secondary: #f5ebe0; /* Background for text or dropdowns */
  --color-card: #846267; /* Cards for projects||products */
  --background: #ffffff;
  --grayed: #9fa8ac;
  --typography-primary: #252525; /* Text color */
  --typography-primary-hover: #464646; /* Text color */
  --typography-primary-white: #ffffff; /* Text color */
  --typography-secondary: #6a6a6a; /* Text color for dark mode */
  --danger: #DC2626; /* Text color for error messages */
  --danger-hover: #ff4848; /* Text hover color for error messages */
  --success: #16A34A; /*color for success */
  --success-hover: #32c468; /* hover color for success */
  --standard: #3B82F6; /* color for standard btn/messages */
  --standard-hover: #5894f6; /* hover color for standard btn/messages */
  --standard-hover-dark: #326ed0; /* dark hover color for standard btn/messages */
  

  /* box shadow */
  --shadow-elevation: 0px 4px 10px rgba(0, 0, 0, 0.1);

  /* Avstander */
  --spacing-sm: 0.25rem; /* Liten avstand (space-y-1, mb-1) */
  --spacing-md: 1rem; /* Middels avstand (space-y-4, gap-4) */
  --spacing-lg: 1.5rem; /* Stor avstand (space-y-6, gap-6) */
  --spacing-xl: 2rem; /* Ekstra stor avstand (space-y-8) */
  --padding-sm: 0.5rem; /* Liten padding (p-2, px-3) */
  --padding-md: 1rem; /* Middels padding (px-4 py-2) */
  --padding-lg: 1.5rem; /* Stor padding (p-6) */
  --margin-sm: 0.25rem; /* Liten margin (mb-1) */
  --margin-md: 0.5rem; /* Middels margin (mb-2) */
  --margin-lg: 1rem; /* Stor margin (mb-4) */
  --margin-button: 0.75rem; /* Knapp margin (ml-3) */

  /* Main title sizes for desktop */
  --main-title-big: 64px; /* Desktop big */
  --main-title-medium: 48px; /* Desktop medium */
  --main-title-small: 36px; /* Desktop small */

  /* section title sizes for desktop */
  --section-title-big: 36px; /* Desktop big */
  --section-title-medium: 32px; /* Desktop medium */
  --section-title-small: 24px; /* Desktop small */

  /* sub section title sizes for desktop */
  --sub-section-title-big: 24px; /* Desktop big */
  --sub-section-title-small: 20px; /* Desktop small */

  /*  body text sizes for desktop */
  --body-text-big: 18px; /* Desktop big */
  --body-text-small: 16px; /* Desktop small */

  /*  captions text sizes for desktop */
  --captions-big: 14px; /* Desktop big */
  --captions-small: 12px; /* Desktop small */

  /* Button CTA text sizes for desktop */
  --btn-cta-big: 18px; /* Desktop big */
  --btn-cta-medium: 16px; /* Desktop medium */
  --btn-cta-small: 14px; /* Desktop small */
}

@media (max-width: 1024px) {
  :root {
    /* Main title sizes for tablets */
    --main-title-big: 40px; /* Tablet big */
    --main-title-medium: 32px; /* Tablet medium */
    --main-title-small: 28px; /* Tablet small */

    /* section title sizes for Tablet */
    --section-title-big: 28px; /* Tablet big */
    --section-title-medium: 24px; /* Tablet medium */
    --section-title-small: 22px; /* Tablet small */

    /* sub section title sizes for tablet */
    --sub-section-title-big: 22px; /* tablet big */
    --sub-section-title-small: 18px; /* tablet small */

    /*  body text sizes for tablet */
    --body-text-big: 17px; /* tablet big */
    --body-text-small: 15px; /* tablet small */

    /*  captions text sizes for tablet */
    --captions-big: 14px; /* tablet big */
    --captions-small: 12px; /* tablet small */

    /* Button CTA text sizes for tablet */
    --btn-cta-big: 17px; /* tablet big */
    --btn-cta-medium: 16px; /* tablet medium */
    --btn-cta-small: 15px; /* tablet small */
  }
}

@media (max-width: 639px) {
  :root {
    /* Main title sizes for phones */
    --main-title-big: 32px; /* Phone big */
    --main-title-medium: 28px; /* Phone medium */
    --main-title-small: 24px; /* Phone small */

    /* section title sizes for Phone */
    --section-title-big: 24px; /* Phone big */
    --section-title-medium: 22px; /* Phone medium */
    --section-title-small: 20px; /* Phone small */

    /* sub section title sizes for phone */
    --sub-section-title-big: 22px; /* phone big */
    --sub-section-title-small: 18px; /* phone small */

    /*  body text sizes for phone */
    --body-text-big: 16px; /* phone big */
    --body-text-small: 14px; /* phone small */

    /*  captions text sizes for phone */
    --captions-big: 14px; /* phone big */
    --captions-small: 12px; /* phone small */

    /* Button CTA text sizes for phone */
    --btn-cta-big: 16px; /* phone big */
    --btn-cta-medium: 15px; /* phone medium */
    --btn-cta-small: 14px; /* phone small */
  }
}

.dark {
  --background: #000000;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: var(--background);
}

/* @media (max-width: 639px) {
  .auth-card-section {
    background-color: rgb(128, 32, 32);
    padding: 1rem;
  }
} */